<div class="scheme-container">
	<div class="scheme-top-menu">
		<div class="top-menu-panel">
			<a href="#" onclick="add('resistor')" title="create a new resistor"><%= image_tag 'components/resistor.png' %></a>
			<a href="#" onclick="add('diode')" title="create a new diode"><%= image_tag 'components/diode.png' %></a>
			<a href="#" onclick="add('pnp_transistor')" title="create a new p-n-p transistor"><%= image_tag 'components/pnp_transistor.png' %></a>
			<a href="#" onclick="add('npn_transistor')" title="create a new n-p-n transistor"><%= image_tag 'components/npn_transistor.png' %></a>
			<a href="#" onclick="add('capacitor')" title="create a new capacitor"><%= image_tag 'components/capacitor.png' %></a>
			<a href="#" onclick="add('dc_source')" title="create a new DC source"><%= image_tag 'components/dc_source.png' %></a>
			<a href="#" onclick="add('wire')" title="create a new wire"><%= image_tag 'components/wire.png' %></a>
		</div>
		
		<div class="top-menu-panel">
			<a href="#" onclick="rotate_selected()" title="rotate selected component 90&deg; clockwise"><%= image_tag 'buttons/arrow-circle-225.png' %></a>
			<a href="#" onclick="remove_selected()" title="remove selected component"><%= image_tag 'buttons/cross-script.png' %></a>
		</div>
		
		
		<div class="top-menu-panel">
			<a href="#" onclick="reset_scheme()" title="stop any executions and reset components' states"><%= image_tag 'buttons/arrow-circle-double.png' %></a>
			<a href="#" onclick="simple_step()" title="step execution one component along"><%= image_tag 'buttons/arrow-repeat-once.png' %></a>
			<a href="#" onclick="full_step()" title="step execution all components at once"><%= image_tag 'buttons/arrow-repeat.png' %></a>
		</div>
		
		<div class="top-menu-panel">
			<em id="current-meter">
				<em href="#" id="current-title" title="Current on the selected pin">
					<%= image_tag 'buttons/dashboard.png' %>
				</em>
				
				<em id="current-i">
				</em>
				
				<em id="current-u">
				</em>
			</em>
		</div>
		
		<div class="top-menu-panel">
			<a href="javascript:save_scheme_svg();" title="View scheme as SVG">
				<%= image_tag 'buttons/eye.png' %>
			</a>
		</div>
	</div>

	<div id="scheme-holder"></div>
</div>

<div class="help-container">
	<div class="search-bar">
		<%= form_tag '/search', :method => 'get', :onsubmit => 'return article_search();' do %>
			<%= text_field_tag 'search-query' %>
			<%= submit_tag 'submit' %>
		<% end %>
	</div>
	
	<div class="help-panel">
	</div>
</div>
